/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}    

body{
    background-color: white;
}

/* generici */

h1{
    font-weight: 900;
    font-size: 75px;
    margin-bottom: 40px;
}

h2{
    margin-bottom: 40px;
}

h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

h4{
    display: inline-block;
}

li{
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 10px;
}

nav li > a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}

div > ul{
    margin-bottom: 10px;
}

.fa-check{
    color: rgb(0, 98, 255);
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

h5{
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}

h6{
    margin-top: 10px;
    margin-bottom10px
}

.fa-arrow-down{
    font-size: 40px;
}

/* Utili */

.btn{
    background-color: blue;
    padding: 5px 10px;;
    color: white;
}


.btn.lightblue{
    background-color: rgb(44, 44, 249);
    margin-bottom: 20px;
    color: white;
    text-align: center;
    padding-left: 35px;
}

.btn.lightblue.align{
    padding-left: 80px;
}

.pointed{
    margin-bottom: 30px;
}

.j-text.lower{
    margin-top: 20px;
    margin-bottom: 65px;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.card.plans{
    border: 1px solid lightgray;
}

    
.card{
    width: calc(100% / 3 - 40px );
    padding: 10px 20px;
}

.circle{
    border: 1px solid black;
    border-radius: 50%;
}

/* intestazione */
header{
    width: 100%;
}    



#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 1px gray;
    padding-left: 20px;
    z-index: 1;
}

.navbar.l{
    flex-basis: 40%;
}

#logo{
    height: 20px;
}

.navbar.r{
    flex-basis: 30%;
}


nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 25px;
    color: rgb(142, 139, 139);
}


.jumbotron{
    margin-top: 70px;
    background-color: rgb(168, 195, 214);
}

.j-container{
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    top: 50px;
}

.j-lower{
    display: flex;
}

.title-card{
    max-width: 1080px;
}

.j-text{
    font-weight: normal;
    color: rgb(32, 30, 30);
    margin-bottom: 20px;
}

/* prima sezione */

.title-list{
    display: flex;
    gap: 25px;
}

.circle{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.circle.strong{
    border: 5px solid rgb(44, 44, 249);
}

.main-container{
    max-width: calc(1080px - 10%);
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 110px;
}

.content-list li{
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-top: 10px;
}

.time{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}



.card-plan{
    border: 1px solid lightgray;
}

.card-wide{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
}


.team{
    height: 50px;
    width: 1080px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    line-height: 50px;
}

.team-container{
    display: flex;
}

.team-left{
    width: 70%;
    padding: 20px;
}

.team-right{
    width: 30%;
    padding-top: 50px;
}


.partners{
    display: flex;
}    

.card-title{
    border: 1px solid lightgray;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-picture{
    min-height: 100px;
    flex-basis: 60%;
}

.card-text{
    min-height: 100px;
    flex-basis: 40%;
    padding: 50px;
}

.txt{
    margin-bottom: 20px
}

.operation{
    width: 100%

}



.users{
    width: 66%;
}

.pic.description{
    height: 50%;
}

.users{
    width: 50%;
}

/* seconda sezione */


.logos-container{
    display: flex;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    border: 1px solid black;
}

.logos-container.side{
    flex-wrap: wrap;
}

#pic{
    margin: 50px 0;
    display: flex;    
}

[class^="l-"]{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}    

.logos{
    max-width: 50%;
    display: block;
    filter: invert(1);
}

.t-left{
    background-color: rgb(108, 212, 148);
}
.t-right{
    background-color: rgb(110, 12, 46);
}

.b-left{
    background-color: rgb(0, 132, 255);
}


.b-right{
    background-color: red;
}
.up-left{
    background-color: rgb(190, 11, 11);
}

.up-right{
    background-color: lightblue;
}

.down-left{
    background-color: blue;
}

.down-right{
    background-color: rgb(248, 229, 53);
}

.logos-container.center{
    flex-direction: column;
    padding-top: 40px;
    background-color: rgb(237, 243, 243);
}

#designit{
    max-width: 165px;
    margin-bottom: 20px;
    display: block;
}

.center-p{
    font-size: 12px;
    margin-bottom: 20px;
}

.center-addres{
    font-size: 12px;
    font-weight: normal;
}

.d-company{
    width: 100%;
    height: 230px;
    padding-left: 210px;
    padding-top: 75px;
    background-color: lightblue;;
}

.company-container{
    max-width: calc(1080 - 10%);
    margin: 0 auto;
}

.btn.c-btn{
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid black;
}

.company{
    display: inline;
    margin-right: 100px;
    color: rgb(63, 4, 4);
}

/* FAQ */

.faq-container{
    max-width: calc(1080px - 10%);
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
}

.faq-title{
    margin-bottom: 40px;
}

.faq{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.fa-chevron-down, .fa-chevron-up{
    margin-left: 470px;
}    

[class$="-hidden"]{
    display: none;
    font-size: 12px;
    font-weight: normal;
}

.faq:hover .top-hidden{
    display: block;
}

.faq:hover .center-hidden{
    display: block;
}

.faq:hover .bottom-hidden{
    display: block;
}

/* footer */

footer{
    background-color: black;
}

.f-container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    gap: 100px;
}    

.footer-card a{
    color: white;
    text-decoration: none;
}

#lang{
    color: white;
    margin-left: 130px;
}
